 .u-section-1 {
  min-height: 650px;
}

 .u-section-123 {
  min-height: 650px;
   display: flex;
   justify-content: center;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 840px;
  background-image: url("images/5471190259c663e100701324dfb61ebac118e8ab1fc6fc06864a441fb43d9ce037aeb57c81cf0566fcc01ad8730af424e9f1a215fe8ec0c7305c72_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 717px;
  }

  .u-section-1 .u-image-1 {
    min-height: 617px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 488px;
  }

  .u-section-1 .u-image-1 {
    min-height: 388px;
  }
}

 .forms {
     width: 500px;
     display: flex;
     justify-content: center;
     margin-top: 113px;
 }

 .forms .main-form {
   width: 500px;
   display: flex;
   justify-content: center;
   height: 400px;
   background: #7bcfc3;
   flex-wrap: wrap;
 }

 form .main-input {
   width: 100%;
     height: 140px;
 }
 section {
   display: flex;
   justify-content: center;
 }